<main class="container">
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <h2>Resend email </h2>
  <p class="supporting_text">Enter your email to get email confirmation instructions</p>
  <div>
    <%= form_for(resource, as: resource_name, data: {turbo: false}, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend email confirmation", class: "reset_btn" %>
      </div>
    <% end %>
  </div>

<%= render "devise/shared/links" %>
</main>
