<main class="sign_up_container container">
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <h2>Sign up</h2>
  <p class="supporting_text">Let's get started with a new account</p>
  <div>
    <%= form_for(resource, as: resource_name,  data: {turbo: false}, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name" %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em><% @minimum_password_length %></em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "signup_btn" %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</main>
