<main class="container">
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <h2>Forgot your password?</h2>
  <p class="supporting_text">Enter your email to get password reset instructions</p>
  <div>
    <%= form_for(resource, as: resource_name, data: {turbo: false}, url: password_path(resource_name), data: { turbo:false }, html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "reset_btn" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</main>